<a href="https://colab.research.google.com/github/lomovtsevp/MathStat_course_from_MIREA/blob/main/PIS_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
import pandas as pd
from random import randint
import random
import scipy.stats
random.seed(42)

In [6]:
param = [randint(1, 10) for _ in range(100)]
users = ['Пользователь' for _ in range(100)]
# Сброс ограничений на количество выводимых рядов
pd.set_option('display.max_rows', None)
 
# Сброс ограничений на число столбцов
pd.set_option('display.max_columns', None)
 
# Сброс ограничений на количество символов в записи
pd.set_option('display.max_colwidth', None)

In [31]:
data = pd.DataFrame({'Наименование' : users,
                     'Параметр(кол-во пройденных уроков)' : param})
data

    Наименование  Параметр(кол-во пройденных уроков)
0   Пользователь                                   7
1   Пользователь                                   7
2   Пользователь                                   6
3   Пользователь                                   4
4   Пользователь                                   6
5   Пользователь                                   6
6   Пользователь                                   1
7   Пользователь                                   7
8   Пользователь                                   2
9   Пользователь                                  10
10  Пользователь                                   6
11  Пользователь                                   1
12  Пользователь                                   4
13  Пользователь                                   6
14  Пользователь                                   2
15  Пользователь                                   1
16  Пользователь                                   7
17  Пользователь                                  10
18  Пользователь                                   8
19  Пользователь                                   4
20  Пользователь                                   1
21  Пользователь                                   4
22  Пользователь                                   4
23  Пользователь                                   8
24  Пользователь                                   1
25  Пользователь                                   4
26  Пользователь                                   7
27  Пользователь                                  10
28  Пользователь                                   2
29  Пользователь                                   4
30  Пользователь                                   7
31  Пользователь                                   9
32  Пользователь                                   6
33  Пользователь                                   4
34  Пользователь                                   8
35  Пользователь                                   4
36  Пользователь                                   4
37  Пользователь                                   9
38  Пользователь                                   1
39  Пользователь                                   4
40  Пользователь                                   5
41  Пользователь                                   5
42  Пользователь                                   3
43  Пользователь                                   7
44  Пользователь                                   3
45  Пользователь                                   5
46  Пользователь                                  10
47  Пользователь                                   2
48  Пользователь                                   5
49  Пользователь                                   5
50  Пользователь                                   2
51  Пользователь                                   5
52  Пользователь                                   1
53  Пользователь                                   8
54  Пользователь                                   9
55  Пользователь                                   8
56  Пользователь                                   9
57  Пользователь                                   8
58  Пользователь                                   7
59  Пользователь                                   7
60  Пользователь                                  10
61  Пользователь                                   7
62  Пользователь                                   3
63  Пользователь                                  10
64  Пользователь                                   2
65  Пользователь                                   1
66  Пользователь                                   7
67  Пользователь                                   4
68  Пользователь                                   8
69  Пользователь                                   9
70  Пользователь                                   7
71  Пользователь                                   4
72  Пользователь                                   6
73  Пользователь                                  10
74  Пользователь                                   2
75  Пользователь                                   9
76  Пользователь                                   6
77  Пользователь                                   8
78  Пользователь                                   2
79  Пользователь                                   5
80  Пользователь                                   7
81  Пользователь                                   4
82  Пользователь                                   1
83  Пользователь                                   3
84  Пользователь                                   4
85  Пользователь                                  10
86  Пользователь                                   5
87  Пользователь                                   9
88  Пользователь                                   6
89  Пользователь                                   1
90  Пользователь                                   6
91  Пользователь                                   1
92  Пользователь                                   8
93  Пользователь                                   7
94  Пользователь                                   9
95  Пользователь                                   5
96  Пользователь                                   3
97  Пользователь                                   6
98  Пользователь                                  10
99  Пользователь                                   3

In [22]:
grouped_data = data.groupby('Параметр(кол-во пройденных уроков)', as_index=False).agg({"Наименование" : 'count'})
grouped_data

   Параметр(кол-во пройденных уроков)  Наименование
0                                   1            11
1                                   2             8
2                                   3             6
3                                   4            15
4                                   5             9
5                                   6            11
6                                   7            14
7                                   8             9
8                                   9             8
9                                  10             9

In [23]:
grouped_data_with_freqs = grouped_data['Наименование'] / 100
grouped_data_with_freqs

In [17]:
Mx = sum(grouped_data['Наименование'] * grouped_data['Параметр(кол-во пройденных уроков)'])

In [25]:
grouped_data.var()

Параметр(кол-во пройденных уроков)    9.166667
Наименование                          7.777778
dtype: float64

In [27]:
grouped_data.std()

Параметр(кол-во пройденных уроков)    3.027650
Наименование                          2.788867
dtype: float64

In [29]:
scipy.stats.entropy(grouped_data_with_freqs)

2.268490818957746